@model List<CadeteriaRemake.Entidades.Cadete>

<div class="row">
    <div class="col-md-6 mx-auto">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Vehiculo</th>
            </tr>
            @foreach (var cadete in Model)
            {
                <tr>
                    <td>@cadete.Id</td>
                    <td>@cadete.Nombre</td>
                    <td>@cadete.Direccion</td>
                    <td>@cadete.Telefono</td>
                    <td>@cadete.Vehiculo</td>
                </tr>
            }
        </table>
    </div>
</div>
